!!! XML
%sequence{saveFileVersion: 14, author: '', createdAt: '3/10/2017 11:49:44 PM', videoUsage: 2}
	%channels
		%channel

	%timingGrids
		%timingGrid
	%tracks
		%track
			%channels
				%channel
			%loopLevels
				%loopLevel
	%animation{rows: 40, columns: '60', image: ''}/
		
