!!! XML
%sequence{saveFileVersion: 14, author: '', createdAt: DateTime.now.strftime('%-m/%e/%Y %I:%M:%S %p'), videoUsage: 2}
	%channels
		- @sequence[:channels].each_with_index do |channel, index|
			-channel[:pixel_channels].each do |pixel_channel|
				-if pixel_channel[:effects]
					%channel{ pixel_channel[:attributes] }
						-pixel_channel[:effects].each do |effect|
							%effect{ effect[:attributes] }				
				-else
					%channel{ pixel_channel[:attributes] }/
			%rgbChannel{ channel[:rgbChannel][:attributes] }

	%timingGrids
		%timingGrid
	%tracks
		%track
			%channels
				%channel
			%loopLevels
				%loopLevel
	%animation{rows: 40, columns: '60', image: ''}/
		
