!!! XML
%sequence{saveFileVersion: 14, author: '', createdAt: DateTime.now.strftime('%-m/%e/%Y %I:%M:%S %p'), videoUsage: 2}
	%channels
		- @sequence[:units].each_with_index do |unit, index|
			- unit[:pixels].each do |pixel|
				-pixel[:colors].each do |color|
					-if color[:effects]
						%channel{ color[:attributes] }
							-color[:effects].each do |effect|
								%effect{ effect[:attributes] }/
					-else
						%channel{ color[:attributes] }/
				%rgbChannel{ pixel[:rgbChannel][:attributes] }
					%channels
						- pixel[:rgbChannel][:color_indices].each do |color_index|
							%channel{ savedIndex: color_index}/
			- unit[:commands].each do |command|
				%channel{ command[:attributes] }/
			%cosmicColorDevice{ unit[:attributes] }
				%channelGroups
					- unit[:group_indices].each do |group_index|
						%channelGroup{ savedIndex: group_index }/

	%timingGrids
		- @sequence[:timingGrids].each do |timing_grid|
			%timingGrid{ timing_grid[:attributes] }/

	%tracks
		%track{ @sequence[:track][:attributes] }
			%channels
				- @sequence[:track][:unit_indicies].each do |unit_index|
					%channel{ savedIndex: unit_index }/
			%loopLevels
				%loopLevel/

	%animation{ @sequence[:animation][:attributes] }/
		
